@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --black-color: #000;
  --white-color: #fff;
  --body-color: #201924;
  --primary-color: #6442bf;
  --light-text: #bbbaba;
  --gradient-color: linear-gradient(45deg, #6b4aca, #947ec2, #947ec2, #6b4aca);
  --transition: .3s;
  --transition_2: .3s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins';
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  overflow-x: hidden;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 12%;
}

img {
  width: 100%;
  height: 100%;
}

header {
  position: relative;
  z-index: 999;
  overflow: hidden;
  height: 100vh;
}

header:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.635) 100%);
  z-index: -1;
}

header:before {
  content: '';
  position: absolute;
  top: 96%;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(-180deg, transparent 10%, var(--body-color) 100%);
}

.bg_video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.bg_video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.marquee_content {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  color: var(--white-color);
}

.marquee_content p {
  font-size: 1.1rem;
  font-weight: 200;
  transform: translateY(5px);
  color: var(--light-text);
}

.head_marquee {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  border-bottom: 1px solid var(--body-color);
  z-index: 999;
}

/*Navigation section*/

nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12%;
  z-index: 999999 !important;
}

.logo {
  width: 200px;
}

.menu_icon {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--white-color);
}

.menu_icon i {
  font-size: 1.5rem;
  transition: var(--transition);
}

.menu_icon i:hover {
  color: var(--primary-color);
  cursor: pointer;
}

/* Hero Section */

.hero_header {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.hero_img {
  width: 100%;
  transform: translateY(-140px);
  z-index: -1;
}

.hero_content {
  position: absolute;
  display: flex;
  top: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  gap: 10px;
}

.hero_content h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.hero_content h1 {
  font-size: 3rem;
}

.hero_content p {
  color: var(--light-text);
  width: 60%;
  text-align: center;
}

/* Buttons */

.hero_buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.btn {
  font-size: 1.1rem;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background: var(--gradient-color);
  background-size: 300% auto;
  color: var(--white-color);
  transition: var(--transition_2);
}

.btn:hover {
  background-size: 1px;
  cursor: pointer;
  box-shadow: 0 0 10px #884eaa;
}

.btn_2 {
  font-size: 1.1rem;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background: transparent;
  background-size: 300% auto;
  color: var(--white-color);
  transition: var(--transition_2);
  box-shadow: inset 0 0 20px 0 #884eaa, 0 0 0 0 #884eaa;
  cursor: pointer;
  position: relative;
}

.btn_2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 0 #884eaa, 0 0 0 0 #884eaa;
    border-radius: 50px;
    opacity: 0;
    transition: var(--transition);
    z-index: -1;
}

.btn_2:hover:after {
  opacity: 1;
}

/* SideBar section */

.sidebar {
   position: absolute;
   top: 0;
   right: -100%;
   width: 25%;
   height: 100vh;
   background-color: #201924;
   z-index: 999999;
   padding: 5% 2%;
}

.sidebar_logo {
  width: 250px;
}

.sidebar_menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.sidebar_menu li {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.sidebar_menu img {
  width: 50px;
  height: 50px;
}

.sidebar_menu li a {
  color: var(--white-color);
  font-size: 1.5rem;
  transition: var(--transition);
}

.sidebar_menu li:hover a{
  color: var(--primary-color);
}

.sidebar_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px 0;
  color: var(--white-color);
}

.sidebar_content h1 {
  font-size: 2rem;
  font-weight: 400;
}

.sidebar_content p {
  font-size: 1rem;
  font-family: 300;
  color: var(--light-color);
}

.det_line {
  width: 100%;
  height: 2px;
  background-color: #3e3345;
  position: relative;
}

.det_line:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: var(--primary-color);
  box-shadow: 0 0 10px 0 #884eaa, 0 0 0 0 #884eaa;
}

.sidebar_contact_det {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--white-color);
}

.sidebar_contact_det h3 {
  font-size: 1.2rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.sidebar_contact_det span {
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--light-text);
}

.sidebar_icons {
  display: flex;
  align-items: center;
  gap: 25px;  
}

.sidebar_icons i {
  font-size: 1.5rem;
  color: var(--light-text);
  transition: var(--transition);
}

.sidebar_icons i:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.close {
  position: absolute;
  font-size: 1.2rem;
  top: 2%;
  right: 2%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  color: var(--white-color);
  background: var(--gradient-color);
  transition: var(--transition);
}

.close:hover {
  transform: translateY(180deg);
  cursor: pointer;
}

.blur_box {
   position: absolute;
   top: 0;
   left: 0;
   width: 0%;
   height: 100vh;
   background-color: rgba(255, 255, 255, 0.2);
   backdrop-filter: blur(10px);
   z-index: 9999999;
}

.show_blur_box {
  width: 75%;
  transition-delay: 0.7s;
}

.show_sidebar {
  right: 0;
  opacity: 1;
}

/*Features section*/

.features {
  flex-direction: column;
  gap: 50px;
  position: relative;
}

.features::after {
  content: '';
  position: absolute;
  top: 95%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--light-text);
}

.headings {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.headings h2 {
  font-size: 1.8rem;
  color: var(--primary-color);
  font-weight: 400;
  letter-spacing: 5px;
}

.headings h1 {
  font-size: 2rem;
  color: var(--white-color);
  font-weight: 300;
  letter-spacing: 8px;
}

.feature_container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  place-items: center;
  place-content: center;
  gap: 10px;
}

.feature_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.feature_box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.feature_box img {
  width: 130px;
  height: 130px;
}

.feature_box h2 {
  color: var(--light-text);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  transition: var(--transition);
}

.feature_box:hover h2 {
  color: var(--primary-color);
  cursor: pointer;
}

.feature_img {
  width: 140%;
}

.feature_box_center {
  transform: translateX(-140px);
}

.feature_box_center_2 {
  transform: translateX(140px);
}

.feature_box_reverse {
  flex-direction: row-reverse;
}

.features .hero_buttons {
  margin-top: 50px;
}

/* PRODUCTS SECTION */

.products {
  gap: 10px;
}

.product_banner {
  width: 40%;
  border-radius: 30px;
  overflow: hidden;
  transition: var(--transition_2);

  position: relative;
}

.banner_content {
  width: 100%;
  position: absolute;
  top: 80%;
  left: 50%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--light-text);
  transform: translate(-50%, -50%);
}

.banner_content h2 {
  font-size: 2.2rem;
  font-weight: 300;
}

.banner_content h2:hover {
  color: var(--white-color);
  cursor: pointer;
}

.banner_content a {
  color: var(--light-text);
  font-size: 1.4rem;
  font-weight: 400;
  position: relative;
  transition: var(--transition);
}

.banner_content a:hover {
  color: var(--white-color);
}

.banner_content a:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 40%;
  height: 2px;
  background-color: var(--light-text);
  transition: var(--transition);
}

.banner_content a:hover:after {
  width: 100%;
  background-color: var(--white-color);
}


@keyframes color_change {
  0% {
    filter: hue-rotate(0deg) blur(0px);
  }
  0% {
    filter: hue-rotate(-50deg) blur(3px);
  }
  100% {
    filter: hue-rotate(0deg) blur(0px);
  }
}

.product_banner img {
  transition: var(--transition);
  cursor: pointer;
}

.product_banner:hover img {
  animation: color_change 0.4s linear;
}

.product_container {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  color: var(--white-color);
}

.product_head {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product_head .headings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_head h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

.product_head p {
  color: var(--light-text);
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  max-width: 900px;
}

/* Swiper CSS */

.swiper {
  width: 99%;
}

.product_slide {
  box-shadow: inset 0 0 20px #884eaa, 0 0 0 0 #884eaa;
  padding: 5%;
  border-radius: 20px;
  background-color: #28202f;
}

.product_img {
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.shop_img_2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}

.product_slide:hover .shop_img_2 {
  opacity: 1;
}

.product_icons {
  position: absolute;
  top: 5%;
  right: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.product_icons i {
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: var(--gradient-color);
  color: var(--light-text);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(90deg);
  transition: var(--transition_2);
}

.product_icons i:hover {
  color: var(--white-color);
  cursor: pointer;
}

.product_slide:hover .product_icons i {
  transform: rotateY(0deg);
}

.product_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
}

.product_info::after {
  content: '';
  position: absolute;
  top: -10%;
  left: -5%;
  width: 109%;
  height: 1px;
  background-color: rgba(131, 131, 131, 0.5);
}

.product_info h2 {
  font-size: 1.4rem;
  font-weight: 500;
  transition: var(--transition);
}

.product_info h2:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.product_info h5 {
  font-size: 1.4rem;
  font-weight: 400;
}

.product_info h5:hover {
  color: #6b4aca;
  cursor: pointer;
}

.stars {
  display: flex;
  align-items: center;
  gap: 5px;
}

.stars i {
  font-size: 1.3rem;
}

.fill_color {
  color: #ffcc00;
}

.product_img h2 {
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 1% 5%;
  font-size: 1.2rem;
  border-radius: 10px;
  background: var(--gradient-color);
  color: var(--white-color);
  z-index: 9999999;
}

/* Sticky sections */

.section_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.sticky_sections {
  gap: 50px;
  min-height: 100%;
  position: relative;
}

.sticky_box {
  width: 2px;
  min-height: 85%;
  background-color: rgba(131, 131, 131, 0.3);
  position: absolute;
  top: 10%;
  left: 5%;
}

.sticky_point {
  position: sticky;
  top: 18%;
  left: 0;
  transform: translateX(-45%);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: var(--gradient-color);
}

.sticky_point::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background-color: rgba(247, 245, 245, 0.5);
  backdrop-filter: blur(10px);
}

.sticky_point::after {
  content: '';
  position: absolute;
  top: -250%;
  left: 50%;
  width: 2px;
  height: 50px;
  background: linear-gradient(0deg, var(--primary-color) 0%, transparent 100%);
}

.section_contain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.section_content .headings {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.section_content .headings h1 {
  font-size: 2.6rem;
  line-height: 3.5rem;
}

.section_content p {
  width: 80%;
  margin: 10px 0px;
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--light-text);
}

.vr_det {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 40px 0;
}

.vr_box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

.vr_box h1 {
  font-size: 3rem;
  line-height: 3rem;
  -webkit-text-fill-color: transparent;
  background: var(--gradient-color);
  -webkit-background-clip: text;
}

.section_img {
  width: 50%;
}

.section_img img {
  border-radius: 50px;
}

/* Sticky Experience section */

.experience {
  flex-direction: row-reverse;
  gap:50px;
}

.exp_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--light-text);
}

.exp_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exp_head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exp_head h2 {
  color: var(--white-color);
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.exp_head h3 {
  color: var(--light-text);
  font-weight: 1.9rem;
  font-weight: 400;
}

.exp_bar {
  width: 100%;
  height: 7px;
  border-radius: 5px;
  background-color: rgba(131, 131, 131, 0.3);
  position: relative;
}

.exp_bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background: var(--gradient-color);
  background-size: 300% auto;
}

.exp_bar_2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 65%;
  height: 100%;
  background: var(--gradient-color);
  background-size: 300% auto;
}

.exp_bar_3::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  background: var(--gradient-color);
  background-size: 300% auto;
}

.exp_video {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.exp_video i {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient-color);
  color: var(--white-color);
  font-size: 2.8rem;
  padding-top: 2%;
  cursor: pointer;
}

.exp_video_content {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.exp_video_content p {
  font-size: 1.3rem;
  font-weight: 500;
}

.exp_video_content h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--white-color);
}

.steps_info {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
}

.steps_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  cursor: pointer;
}

.steps_box:hover .steps_img {
  transform: translateY(0px);
}

.steps_img {
  width: 70px;
  height: 70px;
  transform: translateY(-10px);
  transition: var(--transition_2);
}

.steps_det {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.steps_det {
  margin: 0;
}

.steps_det h2 {
  font-weight: 1.3rem;
  font-weight: 400;
  color: var(--light-text);
  transition: var(--transition);
}

.steps_det h2 {
  color: var(--light-text);
}

.steps_det h2:hover {
  color: var(--white-color);
}

.btn_steps {
  margin: 20px 0;
}

/* Testimonials section */
.testimonial_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background: var(--gradient-color);
  height: 650px;
  border-radius: 10px;
  animation: bg_color 3s infinite linear;
}

@keyframes bg_color {
  0% {
    background-position: 100%;
    background-size: 300% auto;
  }
  50% {
    background-position: 1px;
    background-size: 100%;
  }
  100% {
    background-position: 100%;
    background-size: 300% auto;
  }
}

.testimonial_head {
  position: relative;
  gap: 0;
}

.testimonial_head .headings h2 {
  color: var(--white-color);
}

.quote_img {
  filter: invert(100%);
  opacity: 0.2;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testSwiper {
  width: 100%;
  margin-top: 20px;
}

.test_slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fade_top 0.7s forwards linear;
  animation-delay: 0.3s;
  opacity: 0; 
}

.test_stars {
  display: flex;
  align-items: center;
  gap: 10px;
}

.test_stars i {
  font-size: 1.5rem;
}

.test_slide p {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--white-color);
  width: 60%;
  margin: 10px 0;
}


.client_info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.client_img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
}

.client_det h2 {
  font-size: 1.8rem;
  line-height: 2rem;
  color: var(--white-color);
  font-weight: 500;
}

@keyframes fade_top {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  50% { 
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.swiper_btns {
  position: absolute !important;
  top: 40% !important;
  left: 8% !important; 
}

.swiper_btn_next {
  left: 90% !important;
}

.swiper-button-prev::after, .swiper-button-next::after {
  display: none;
}

.swiper_btns i {
  font-size: 3.5rem;
  color: var(--white-color);
  height: 60px;
  width: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgba(0, 0, 0, 1)0%, transparent);
}

/* Banner section 2 */

.banner_2 {
  gap: 50px;
  background-image: url(/assets/images/app-bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 58vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.banner_2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.809) 100%);
  z-index: -1;
}


.banner_content_2 {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.banner_content_2 p {
  width: 80%;
  font-size: 1.4rem;
  letter-spacing: 1.2px;
  color: var(--light-text);
}

.banner_content_2 .headings {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  gap: 10px;
}

.banner_content_2 .headings h1 {
  font-size: 2rem;
}

.banner_content_img {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 30px 0;
}

.app_store_img {
  box-shadow: 0 0 10px 0 #884eaa, 0 0 0 0 #884eaa;
  border-radius: 20px;
  transition: var(--transition);
}

.app_store_img:hover {
  box-shadow: inset 0 0 20px 0 #884eaa, 0 0 0 0 #884eaa;
  cursor: pointer;
}

.banner_img_2 {
  width: 50%;
  position: relative;
}

.mobile_app_img {
  position: absolute;
  top: -20% !important;
  left: -15%;
  transform: translateY(-200px);
  width: 400px;
  height: 700px;
  z-index: 2;
}

.mobile_app_img_2 {
  left: 40%;
  transform: translateY(-120px);
  width: 350px;
  height: 600px;
  z-index: 1;
}

/* Footer Section */

footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 50px;
  place-content: start;
  place-content: start;
  padding: 3% 12%;
}

.footer_box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  place-content: start;
}

.footer_col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.footer_col h2 {
  margin-bottom: 20px;
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 600;
}

.footer_col a {
  color: var(--light-text);
  font-size: 1.2rem;
  font-weight: 500;
}

.footer_col a:hover {
  color: var(--primary-color);
}

.footer_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.footer_content p {
  color: var(--light-text);
  margin: 10px 0;
}

.footer_logo {
  width: 300px;
}

/* Copyright */

.copyright {
  padding: 1% 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--primary-color);
}

.copyright p {
  font-size: 1.2rem;
  color: var(--white-color);
}

.payment_box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pay_img {
  width: 80px;
  height: 50px;
  box-shadow: inset 0 0 10px 0 #884eaa, 0 0 0 0 #884eaa;
  border: 1px solid #884eaa;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

.pay_img img {  
  object-fit: contain;
  width: 80%;
}

.pay_img:hover {
  box-shadow: inset 0 0 20px 0 #884eaa, 0 0 0 0 #884eaa;
  cursor: pointer;
}

/* Media Screen Section */

@media (max-width: 1200px) {
  .sidebar_content p {
    display: none;
  }

  .sidebar {
    width: 30%;
  }

  .show_blur_box {
    width: 70%;
  }

  .hero_img {
    transform: translateY(100px) scale(1.3);
  }

  .hero_content {
    top: 60%;
  }

  .feature_box h2 {
    font-size: 1.2rem;
  }

  .product_head h1 {
    font-size: 1.5rem;
    text-align: left;
  }

  .product_container {
    width: 65%;
  }

  .product_info h2 {
    font-size: 1.2rem;
  }

  .vr_det {
    gap: 35px;
  }
  
  .vr_box h1 {
    font-size: 2rem;
  }

  .section_content .headings h1 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .steps_info {
    gap: 25px;
  }

  .steps_det h2 {
    font-size: 1.1rem;
  }

  .banner_content_2 .headings h1 {
    font-size: 2.2rem;
  }

  .mobile_app_img {
    width: 370px;
  }

  .mobile_app_img_2 {
    width: 250px;
    left: 60%;
  }

  .footer {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 900px) {
  .hero_img {
    transform: translateY(150px) scale(2);
  }

  .hero_content {
    top: 70%;
  }

  .hero_content h1,
  .feature_box h2 {
    text-align: center;
  }

  .sicky_box {
    min-height: 95%;
    top: 4%;
  }

  .hero_buttons {
    margin-top: 20px;
  }

  .sidebar {
    width: 40%;
  }

  .show_blur_box {
    width: 60%;
  }

  .feature_box_center {
    transform: translateX(-70px);
    text-align: center;
  }

  .feature_box_center_2 {
    transform: translateX(70px);
  }

  .product_banner,
  .mobile_app_img_2 {
    display: none;
  }

  .product_container {
    width: 100%;
  }

  .product_info h2 {
    font-size: 1rem;
  }

  .section_contain {
    flex-direction: column;
    gap: 50px;
  }

  .section_content,
  .section_img {
    width: 100%;
  }

  .testimonial_container {
    height: 550px;
  }
  .testimonial_container .testimonial_head .headings h1 {
    font-size: 2rem;
  }

  .test_slide p {
    font-size: 1rem;
  }

  footer {
    grid-template-columns: repeat(1,1fr);
  }

  .footer_content img {
    width: 80%;
  }

  .copyright {
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 500px) {
  .feature_img {
    display: none;
  }

  .features::after {
    top: 100%;
  }

  .feature_box_center {
    transform: translateX(0px) !important;
  }

  .feature_box_center_2 {
    transform: translateX(0px) !important;
  }

  .feature_container {
    grid-template-columns: repeat(2,1fr);
  }

  .show_blur_box,
  .sideBar {
    width: 50%;
  }

  .sidebar_logo {
    width: 180px;
  }

  .hero_img {
    transform: translateY(300px) scale(3) !important;
  }

  .hero_content {
    top: 130%;
  }

  .hero_content p {
    width: 100%;
  }

  .hero_content h1 {
    font-size: 2rem;
  }

  .product_head {
    flex-direction: column;
    gap: 20px;
  }

  .section_container {
    gap: 50px;
  }

  .testimonial_head .headings h1 {
    font-size: 1.5rem;
  }

  .test_slide p {
    font-size: 0.8rem;
  }

  .banner_img_2 {
    display: none;
  }

  .footer_col h2 {
    font-size: 1.4rem;
  }

  .footer_col a {
    font-size: 1rem;
    margin: 0px;
  }

  .copyright p {
    text-align: center;
  }

  .copyright .payment_box {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
} 